.book-item {
    background-color: rgb(234, 190, 190);
    margin: auto;
    padding: 5px 18px;
    border-radius: 10px;
    -webkit-box-shadow: 6px 7px 13px -1px rgba(0,0,0,0.53);
    -moz-box-shadow: 6px 7px 13px -1px rgba(0,0,0,0.53);
    box-shadow: 6px 7px 13px -1px rgba(0,0,0,0.53);


    h1 {
        margin: 0;
    }

    h3 {
        border-bottom: 1px solid black; 
        padding-bottom: 5px; 
    }
}
